<div class="favourites-list">
  <button type="button" lass="nav-link transparent-button" {{on "click" this.toggleModal}}>
    Favourites<sup><span class="badge badge-info">{{this.currentCount}}</span></sup>
    <FaIcon @icon="caret-down" />
  </button>

  <BsModal @open={{this.isModalOpen}} @onHide={{fn this.toggleModal}} as |Modal|>
    <Modal.header>
      <form class="px-4 py-3">
        <div class="form-group">
          <label for="favourite-list-name">List: </label>
          <Input @value={{this.favourites.name}} type="text" class="form-control" id="favourite-list-name" />
        </div>
        {{#if this.hasFavourites}}
          <button type="submit" class="btn btn-sm btn-primary" {{on "click" this.deleteCurrent}}>Clear list</button>
        {{/if}}
      </form>
    </Modal.header>
    <Modal.body>
      {{#each this.favourites.current as |boat|}}
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">
          <ThumbnailImage @record={{boat}} />
          {{boat.make}} {{boat.model}}
          {{boat.year}}
          <PriceText @record={{boat}} />
        </div>
      {{/each}}
    </Modal.body>
  </BsModal>
</div>
