<Ui::DropdownButton
  @onClick={{this.toggleModal}}
  class="favourites-dropdown"
>
  {{svg-jar "star" class="icon"}} {{this.currentCount}} boats
</Ui::DropdownButton>

<Ui::Modal
  @isShown={{this.isModalOpen}}
  @close={{this.toggleModal}}
  as |Modal|
>

  {{#if this.hasFavourites}}
    <Modal.header
      @linkTitle="clear list"
      @linkAction={{this.deleteCurrent}}
    >
      Favourites
    </Modal.header>
  {{else}}
    <Modal.header>
      No favourites added
    </Modal.header>
  {{/if}}

  <Modal.body>
    {{#each this.favourites.current as |boat|}}
      <div class="favourite-item">
        <img src={{boat.thumbnail}} alt="boat">
        {{boat.make}} {{boat.model}}
        {{boat.year}}
        {{format-currency boat.price boat.priceSymbol}}
      </div>
      <div class="dropdown-divider"></div>
    {{/each}}
  </Modal.body>

  <Modal.footer @close={{this.toggleModal}}>
    Footer
  </Modal.footer>

</Ui::Modal>
