<div class="boat-listing">
  <div class="left-column">
    <Listing::Images @boat={{@boat}} />
  </div>
  <div class="right-column">
    <div class="title">
      <FavouriteToggle @boat={{@boat}} />
      {{@boat.make}} {{@boat.model}}
    </div>
    <div class="price">{{format-currency @boat.price @boat.priceSymbol}}</div>
    <div class="details">{{@boat.year}} - {{format-inches-to-feet @boat.lengthInches}}</div>
    <div class="description">{{@boat.description}}</div>
    <div class="location">{{@boat.location}}</div>
    <div class="date-listed">Listed: {{this.firstFound}}</div>
  </div>
</div>
