<div class="map">
  <LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} as |layers|>
    <layers.tile @url={{this.tileUrl}}/>
    <layers.tile @url={{this.tileUrl2}}/>

    <layers.marker-cluster @iconCreateFunction={{this.iconCreateFunction}} as |cluster|>
      {{#each @boats as |b|}}
        <cluster.marker @lat={{b.latitude}} @lng={{b.longitude}} @title={{b.price}} as |marker|>
          <marker.popup>
            <img class="leaflet-popup-thumnbnail" src={{b.thumbnail}} alt="Thumnbnail">
            <strong>{{b.year}} - {{b.title}}</strong><br>
            <PriceText @record={{b}} />
          </marker.popup>
        </cluster.marker>
      {{/each}}
    </layers.marker-cluster>
  </LeafletMap>
</div>
