<div>
  <div class="carousel" {{did-insert (action this.registerGlide)}}>
    <div class="carousel-container">
      <div class="carousel-wrapper">

        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {{#each @images as |image|}}
              <li class="glide__slide carousel-slide">
                <img src={{image}} alt="thumb">
              </li>
            {{/each}}
          </ul>
        </div>

      </div>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{{svg-jar "arrow-circle-back" class="icon"}}</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{{svg-jar "arrow-circle-forward" class="icon"}}</button>
    </div>

    <div {{ref this.setupBullets}} class="glide__bullets" data-glide-el="controls[nav]">
      {{#each this.navBullets as |bullet n|}}
        <button class="glide__bullet" data-glide-dir="={{n}}"></button>
      {{/each}}
    </div>

    {{yield}}

  </div>
</div>
