<CollapsableSidebar>
  <BoatFilter
    @updateFilters={{this.updateFilters}}
    @urlQueryParams={{this.urlQueryParams}}
  />
</CollapsableSidebar>

<section class="boat-listings">
  {{#if this.boatsFound}}
    <div class="boats-found">
      {{this.model.meta.count}} boats found
    </div>

    <BoatListingSort @doSort={{this.doSort}} @urlSortParam={{this.urlSortParam}} />

    {{#each this.model as |boat|}}
      <BoatListing @boat={{boat}} />
    {{/each}}

    <ListingPagination @page={{this.page}} @per_page={{this.per_page}} @meta={{this.model.meta}} />
  {{else}}
    <div class="boats-found">
      No matching boats found
    </div>
  {{/if}}
</section>
