<FilterBar::FilterBar
  @filter={{this.filter}}
  @updateFilter={{this.updateFilter}}
  @maskMainContent={{this.maskMainContent}}
/>

<Listing::SortBar
  @doSort={{this.doSort}}
  @urlSortParam={{this.urlSortParam}}
/>

<section class="boat-listings-container {{if this.isMasked "mask-content"}}">
  {{#if this.boatsFound}}
    <div class="boats-found">
      {{this.model.meta.count}} boats found
    </div>

    <section class="listings">
      {{#each this.model as |boat|}}
        <Listing::Listing @boat={{boat}} />
      {{/each}}
    </section>

    <Listing::Pagination @page={{this.page}} @per_page={{this.per_page}} @meta={{this.model.meta}} />

  {{else}}

    <div class="boats-found">
      No matching boats found
    </div>

  {{/if}}
</section>
