<CollapsableSidebar>
  <Listing::Filter
    @updateFilters={{this.updateFilters}}
    @urlQueryParams={{this.urlQueryParams}}
  />
</CollapsableSidebar>

<section class="boat-listings">
  {{#if this.boatsFound}}
    <div class="boats-found">
      {{this.model.meta.count}} boats found
    </div>

    <Listing::SortBar
      @doSort={{this.doSort}}
      @urlSortParam={{this.urlSortParam}}
    />

    {{#each this.model as |boat|}}
      <Listing @boat={{boat}} />
    {{/each}}

    <Listing::Pagination @page={{this.page}} @per_page={{this.per_page}} @meta={{this.model.meta}} />
  {{else}}
    <div class="boats-found">
      No matching boats found
    </div>
  {{/if}}
</section>
