<CollapsableSidebar>
  <BoatFilter
    @filter={{action "filter"}} />
</CollapsableSidebar>

<div class="content">
  <div class="filter-info-container">
    <div class="boats-found">{{boatsFound}}</div>
    <div class="search-filter-summary">{{filterSummary}}</div>
  </div>

  <LocationMap @boats={{filteredBoats}} />

  {{!-- <BoatListingSort @sort={{action "sort"}} />

  <BoatListings @boats={{sortedBoats}} /> --}}
</div>
