<CollapsableSidebar>
  <BoatFilter
    @filter={{on "click" this.filter}} />
</CollapsableSidebar>

<div class="content">
  <div class="filter-info-container">
    <div class="boats-found">{{this.boatsFound}}</div>
    <div class="search-filter-summary">{{this.filterSummary}}</div>
  </div>

  <LocationMap @boats={{this.filteredBoats}} />

  {{!-- <BoatListingSort @sort={{action "sort"}} />

  <BoatListings @boats={{sortedBoats}} /> --}}
</div>
