<div class="filter-wrapper">
  <Ui::DropdownButton @onClick={{@toggleModal}} @isSelected={{@filterComponent.isOpen}}>
    {{this.minMaxLabel}}
  </Ui::DropdownButton>

  <Ui::Modal
    @isShown={{@filterComponent.isOpen}}
    @close={{@toggleModal}}
    as |Modal|
  >

    <Modal.header
      @linkTitle="reset"
      @linkAction={{@resetFilter}}
    >
      {{@filterComponent.title}}
    </Modal.header>

    <Modal.body>
      {{component
        @filterComponent.component
        filterComponent=@filterComponent
        updateFilter=@updateFilter
      }}
    </Modal.body>

    <Modal.footer @close={{@toggleModal}}>
      Done
    </Modal.footer>

  </Ui::Modal>
</div>
