<Ui::Toggle
  @icon1 = "list-view"
  @label1 = "List"
  @icon2 = "map"
  @label2 = "Map"
/>

<div class="mobile-map">
  <LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} as |layers|>
    <layers.tile @url={{this.tileUrl}}/>
    <layers.tile @url={{this.tileUrl2}}/>

    <layers.marker-cluster @iconCreateFunction={{this.iconCreateFunction}} as |cluster|>
      {{#each this.geocodedBoats as |b|}}
        <cluster.marker @location={{array b.latitude b.longitude}} @title={{b.price}} as |marker|>
          <marker.popup>
            <img class="leaflet-popup-thumnbnail" src={{b.thumbnail}} alt="Thumnbnail">
            <strong>{{b.year}} - {{b.title}}</strong><br>
            <PriceText @record={{b}} />
          </marker.popup>
        </cluster.marker>
      {{/each}}
    </layers.marker-cluster>
  </LeafletMap>
</div>

{{!-- <div class="map-listings">
  <div class="boats-found">{{this.geocodedBoats.length}} boats found.</div>
  {{#each this.geocodedBoats as |b|}}
    <div class="listing">
      <div class="id">ID#{{b.id}}:</div>
      <div class="make-model">{{b.make}} {{b.model}}</div>
      <div class="price">${{b.price}}</div>
    </div>
  {{/each}}
</div> --}}
