<div class="sidebar-search">
  <div class="sidebar-search-heading">Search</div>

  <label>Boat name/listing title:</label>
  {{input
    value=this.inputValues.search
    key-up=(action "handleFilter")
    placeholder="Search by name"
    class="form-control"
  }}

  <label>Length (ft)</label>

  <div class="twin-inputs">
    {{input
      value=this.inputValues.minLength
      key-up=(action "handleFilter")
      placeholder="Min"
      class="form-control"
    }}

    {{input
      value=this.inputValues.maxLength
      key-up=(action "handleFilter")
      placeholder="Max"
      class="form-control"
    }}
  </div>

  <label>Year</label>
  <div class="twin-inputs">
    {{input
      value=this.inputValues.minYear
      key-up=(action "handleFilter")
      placeholder="Min"
      class="form-control"
    }}

    {{input
      value=this.inputValues.maxYear
      key-up=(action "handleFilter")
      placeholder="Max"
      class="form-control"
    }}
  </div>

  <label>Price range</label>
  <div class="twin-inputs">
    <Input
      @value={{this.minPrice}}
      @key-up={{action "handleFilter"}}
      @placeholder="Min"
      @class="form-control" />

      <Input
        @value={{this.maxPrice}}
        @key-up={{action "handleFilter"}}
        @placeholder="Max"
        @class="form-control" />
  </div>

</div>

<div class="sidebar-filter">
  <div class="sidebar-filter-heading">Filter by:</div>
  <hr>
  <div class="filter-subheading">Region</div>
  <ul>
    <li>Australia</li>
    <li>World</li>
  </ul>
  <div class="filter-subheading">Cabins</div>
  <p>2</p>
  <p>3</p>
</div>

{{yield this.results}}
