<div class="boat-listing">
  <div class="left-column">
    <ThumbnailImage class="listing-thumbnail" @record={{@boat}} />
  </div>
  <div class="right-column">
    <div class="title"><FavouriteToggle @boat={{@boat}} />{{@boat.make}} {{@boat.model}}</div>
    <PriceText @record={{@boat}} />
    <div class="details">{{@boat.year}} - <InchesToFeet @inches={{@boat.lengthInches}} /></div>
    <div class="description">{{@boat.description}}</div>
    <div class="location">{{@boat.location}}</div>
    <div class="date-listed">Listed: {{this.firstFound}}</div>
  </div>
</div>
