<div id="sidebar-wrapper" class={{if isActive "active" "hidden"}}>
  <button type="button" class="close" aria-label="Close" {{action "toggleCollapse"}}>
    <span aria-hidden="true">&times;</span>
  </button>
  {{yield}}
</div>

<a class="menu-toggle rounded {{if isActive "hidden"}}" href="#" {{action "toggleCollapse"}}>
  <FaIcon @icon="sliders-h" />
</a>
