<div class="listing-images">

  <div class="main-image-container">
    <img class="main-image" src="{{this.baseImageUrl}}{{this.selectedThumbnail}}" alt="Thumbnail">
  </div>

  <div class="thumbnail-list">
    {{#each this.thumbnails as |url|}}
      <ThumbWithZoom
        @url="{{this.baseImageUrl}}{{url}}"
        class={{if (eq this.selectedThumbnail url) "highlight"}}
        @handleMouseEnter={{action "handleMouseEnter" url}}
        @handleMouseLeave={{action "handleMouseLeave"}}
        @mouseMoveAction={{action "handleMouseMove"}}
       />
    {{/each}}

    {{#if this.lastImage}}
      <div class="last-image-container">
        <ThumbWithZoom
          @url="{{this.baseImageUrl}}{{this.lastImage}}"
          class={{if this.hasMoreImages "more-images"}}
          @handleMouseEnter={{action "handleMouseEnter" this.lastImage}}
          @handleMouseLeave={{action "handleMouseLeave"}}
          @mouseMoveAction={{action "handleMouseMove"}}
        />
        {{#if this.hasMoreImages}}
          <div class="remaining-count">
            {{this.remaingImagesCount}}+
            <FaIcon @icon="images" />
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>

  {{#if this.showPreview}}
    <ImagePreview
      @url="{{this.baseImageUrl}}{{this.selectedThumbnail}}"
      @offset={{this.offset}}
      @thumbnailListContainer={{this.thumbnailListContainer}}
    />

    <div class="zoom-overlay"></div>
  {{/if}}
</div>
