<div class="thumbnail-listing-container">
  <div class="thumbnail">
    <img src={{@boat.thumbnail}} alt="thumbnail">
  </div>
  <div class="thumbnail-info">
    <div class="listing-title">{{@boat.title}}</div>
    {{@boat.year}} - <InchesToFeet @inches={{@boat.totalInches}} class="length" />
    <br>
    {{@boat.location}}
    <br>
    <PriceText @record={{@boat}} @class="price" />
  </div>
</div>
